<html>

<head>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/background3.jpg') }}");
            background-repeat: no-repeat;
            background-position: fixed;
            background-size: cover;
            overflow-y: hidden;
            overflow-x: hidden;
        }
    </style>
</head>

<body>
    <div style="top:60; left:375 ; position: absolute; font-family: Courier New; font-size: 90px; color: black"><b>
            POSTFIX TO INFIX</b></div>
    <div style="top: 250; left:500 ; position: absolute; font-family: Garamond; font-size: 35px; color: black">
        <br>Example:
        <br>Postfix format: A B * C D / +
        <br>Infix format: A * B + C / D
    </div>
    <div style="top: 450; left:450 ; position: absolute; font-family: Garamond; font-size: 35px; color: black">
        Enter your Postfix expression in the box given below</div>
    <div style="position:relative; left:500px; top:500px;">
        <form action="{{ url_for('convert_p')}}" method="post">
            <input name="post-in" placeholder="Enter the Expression" type="text" size="50" style="height: 120px; width:600px" />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>
