<html>

<head>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/background3.jpg') }}");
            background-repeat: no-repeat;
            background-position: fixed;
            background-size: cover;
            overflow-y: hidden;
            overflow-x: hidden;
        }
    </style>
</head>

<body>
 <div style="top:50; left:375 ; position: absolute; font-family: Courier New; font-size: 90px; color: black"><b>
            POSTFIX TO INFIX </b></div>
    <div style="top: 200; left:500 ; position: absolute; font-family: Garamond; font-size: 35px; color: black">
        <br>Example:
        <br>Infix format: A * B + C / D
        <br>Postfix format: A B * C D / +
    </div>
    <div style="top: 425; left:450 ; position: absolute; font-family: Garamond; font-size: 35px; color: black">
        Enter your Postfix expression in the box given below</div>
    <div style="position:absolute; left:500px; top:450px;">
        <form action="{{ url_for('convert_p')}}" method="post">
            <br>
            <input name="post-in" placeholder="Enter the Expression" type="text" size="50"
                style="height: 120px; width:600px" />
                <br>
                <br>
        <center>
            <button type="submit" style="border-radius: 2px; background-color: blue; color: whitesmoke;">Submit</button>
        </center>
        </form>
        
    </div>
</body>

</html>
